#scaffold
  #write{contenteditable: 'true', tabindex: 0}
    %p
      an evil pink dino holding a baseball bat threatning a man in a blue shirt
  .remainingTime
    Time remaining:
    %span#countdown
      00:00
  %a#writeDone{href: '#'} Done
  %a#writeCancel{href: '/'} Cancel
